<section id="login" class="bg-img">
  <div class="content">
    <header>Hotel Mandirian</header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
       <div class="field">
          <span class="bi bi-lock"></span>
          <input type="text" required placeholder="Email" formControlName="username">
       </div>
       <div class="field space">
          <span class="bi bi-key"></span>
          <input [type]="showPassword ? 'text' : 'password'" class="pass-key" required placeholder="Password" formControlName="password">
          <span class="show" (click)="onShowPassword()">SHOW</span>
       </div>
       <div class="mt-3">
          <button class="btn-login" [disabled]="!form.valid">LOGIN</button>
       </div>
    </form>
 </div>
</section>