<nav class="navbar navbar-expand-lg bg-dark-green navbar-dark py-3 fixed-top">
  <div class="container">
    <a routerLink="" class="navbar-brand">Hotel Mandirian</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link">Service</a>
        </li>
      </ul>
      <button class="btn btn-yellow login" routerLink="/auth/login">
        LOGIN
      </button>
    </div>
  </div>
</nav>